.git
.github
.idea
.vscode
.env
.env.*
!.env.example
!.env.render.example
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.log
Thumbs.db
